<h1>Add a vocab word</h1>

<div>
  <!-- submitting this form sends @vocab to the vocab controller create method -->
  <!-- @vocab_list = instance variable -->
  <!-- in rails forms: submit = HTTP post request -->

  <%= form_for(@vocab) do |f| %> 

    <%= f.label :en %>
    <%= f.text_field :en %>

    <%= f.label :jp %>
    <%= f.text_field :jp %>

    <%= f.label :vocab_list_id %>
    <%= collection_select(:vocab, :vocab_list_id, VocabList.all, :id, :name, prompt: true) %>

    <%= f.submit "Add vocab word" %>
  <% end %>
</div>