<h1><%= @lesson.name %></h1>

<!-- show lessontext -->

<!-- show vocablist -->
<%= render 'vocab_lists/vocab_lists' %>

<%= link_to "New Vocab List", new_vocab_list_path %>

<!-- show grammar_points -->

<%= render 'grammar_points/grammar_points' %>

<%= link_to "New Grammar Point", new_grammar_point_path %>

<!-- show exercises -->

<br/><br/>

<!-- make one form for all lesson-based content?" -->

<%= link_to "Create New Content", '#' %>