<h1>Create a chapter</h1>

<div>
  <%= form_for(@chapter) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :description %>
    <%= f.text_area :description %>

    <!-- add an image that represents the chapter, to be displayed on the browse chapters page -->
	
    <%= f.submit "Save Chapter" %>
  <% end %>
</div>